.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer; /* makes cursor like pointing finger rather than an arrow */

  opacity: 0;
  z-index: 2;
  /* we click on the  toggler for the action to complete but we dont want toggler to be seen, we want hamburger to be seen.
  So, we make opacity of toggler 0, making it invisble, but give the z-index 2 which is greater than that of hamburger, making toggler clickable */
}

.menu-wrap,
.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hamburger lines */
.menu-wrap .hamburger > div {
  /* targetting immediate div */
  /* in this div we create  a small line of 2px height, for hamburger layout; and using psuedo selectors before and after, we make another two lines before and after it, give three lines */
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  /* transition in all properties for 0.4s, transition type ease */
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  /* the lines will offset from the parent positon, that is the above div, which is middle line */
  z-index: 1;
  /* we want toggler to be clickable, so giving 1 places it behind the toggler */
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* bottom line moves down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler animate */

.menu-wrap .toggler:checked + .hamburger > div {
  /* when toggler is checked, style hamburger's immediate div */
  transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate when hovered on checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  /* need to learn these selector */
  transform: rotate(225deg);
}

/* -------------------------------------------------------- */

/* We have hidden the menu, when not clicked, so this section of code is to make menu visible
yo can see the rest of the code first and come back to later , to follow the workflow or if confused */

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s, ease 0.4s;
}

/* ------------------------------------------------------------- */

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  /* to make the content visible in top left corner */

  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  /* to make the content centered */
}

.menu-wrap .menu > div {
  /* In this div lies the overlay color */

  background: var(--overlay-color);
  border-radius: 50%;
  /* to have circular effect */
  width: 200vw;
  height: 200vh;
  /* to go out of viewport */
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  /* by default it is scaled to 0 */
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  /* the purpose of this div I couldn't figure out */

  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
